In [5]:
#For_Loop -

expenses = [1200, 1500, 1800, 1900, 2000]

for expense in expenses:
    print(expenses)

[1200, 1500, 1800, 1900, 2000]
[1200, 1500, 1800, 1900, 2000]
[1200, 1500, 1800, 1900, 2000]
[1200, 1500, 1800, 1900, 2000]
[1200, 1500, 1800, 1900, 2000]

In [8]:
expenses = [1200, 1500, 1800, 1900, 2000]

total_expense = 0

for expense in expenses:
    total_expense = total_expense + expense
    
print(total_expense)

8400

In [12]:
expenses = [1200, 1500, 1800, 1900, 2000]

total_expense = 0

for i in range(len(expenses)):
    print(i)
    print(expenses[i])

0
1200
1
1500
2
1800
3
1900
4
2000

In [14]:
expenses = [1200, 1500, 1800, 1900, 2000]

total_expense = 0

for i in range(len(expenses)):
    expense = expenses[i]
    print(f'Month: {i+1}, Expense: {expense}')
    total_expense += expense
    
print(total_expense)

Month: 1, Expense: 1200
Month: 2, Expense: 1500
Month: 3, Expense: 1800
Month: 4, Expense: 1900
Month: 5, Expense: 2000
8400

In [15]:
expenses = [1200, 1500, 1800, 1900, 2000]

total_expense = 0

for i,expense in enumerate(expenses):
    print(f"Month: {i+1}, Expense: {expense}")
    total_expense += expense

print(total_expense)

Month: 1, Expense: 1200
Month: 2, Expense: 1500
Month: 3, Expense: 1800
Month: 4, Expense: 1900
Month: 5, Expense: 2000
8400

In [20]:
expenses = [1200, 1500, 1800, 1900, 2000,3200,2100]

total_expense = 0

for i,expense in enumerate(expenses):
    if expense > 2000:
         print(f"Month: {i+1}, Expense: {expense}")
         break

Month: 6, Expense: 3200

In [22]:
locations = ["sofa", "garage", "chair", "table", "closet"]
key_location = "chair"

for location in locations:
    if location == key_location:
        print(f"key is found at {key_location}")
        break
    else:
        print(f"key is not found at {location}")

key is not found at sofa
key is not found at garage
key is found at chair

In [25]:
for i in range(1,11):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [26]:
x = -1
while x <=99:
  x += 2
print(x)

101

In [27]:
for l in 'SkillBasics':
    if l == 'i':
        continue
    print(l, end='')

SkllBascs

In [28]:
for n in range(1, -6, -2):
    print(n, end=', ')

1, -1, -3, -5,

In [29]:
count=0
transactions = [(456, 'f'), (457, 'n'), (458, 'w'), (459, 'f')]
for transaction in transactions:
    if transaction[1]!='f':
        count+=1