In [2]:
point=(5,6)
point[0]

5

In [4]:
d = {
    'raj': 99999999999,
    'xavi': 8888888888,
    'nanu': 7777777777
}

In [5]:
d['raj']

99999999999

In [6]:
d['nanu']

7777777777

In [8]:
d = {'Luke': 1994, 'Boba': 1989, 'Kyle': 1998, 'Hann': 1993}
print(d['Boba' : 'Kyle'])

TypeError: unhashable type: 'slice'

In [9]:
salaries = {
	'python': { 'junior': '100k', 'senior': '600k' },
	'php': { 'junior': '70k', 'senior': '400k' },
	'java': { 'junior': '80k', 'senior': '500k' },
	}

In [10]:
salaries['php']['senior']

'400k'

In [11]:
person_info = ("bob gupta", 52, "1 free street, mumbai")
person_info[1] = 54

TypeError: 'tuple' object does not support item assignment

In [14]:
list = ['Pawan', 'Shivani', 'Nanu', 'Xavi', 'Babua', 'Pujju', 'Nitanshu']
d = [('Pawan',1),('Shivani',2),('Nanu',3),('Babua',4),('Xavi',5),('Aditya',6)]

In [15]:
d

[('Pawan', 1),
 ('Shivani', 2),
 ('Nanu', 3),
 ('Babua', 4),
 ('Xavi', 5),
 ('Aditya', 6)]

In [16]:
d['Aditya']

TypeError: list indices must be integers or slices, not str

In [18]:
d[0]

('Pawan', 1)

d[5]

In [19]:
d[5]

('Aditya', 6)

In [20]:
my_expense = {
    'clothes': 1100,
    'shoes': 1000,
    'watch': 900,
    'mobile recharge': 699,
    'petrol': 1900
}

my_wife = {
    'mobile recharge': 799,
    'dth recharge': 999,
    'clothes': 2310,
    'makeup': 3670,
    'shoes': 999
}

In [21]:
my_expense

{'clothes': 1100,
 'shoes': 1000,
 'watch': 900,
 'mobile recharge': 699,
 'petrol': 1900}

In [22]:
my_wife

{'mobile recharge': 799,
 'dth recharge': 999,
 'clothes': 2310,
 'makeup': 3670,
 'shoes': 999}

In [24]:
def returnSum(my_expense):
 
    sum = 0
    for i in my_expense.values():
        sum = sum + i
 
    return sum

my_expense = {
    'clothes': 1100,
    'shoes': 1000,
    'watch': 900,
    'mobile recharge': 699,
    'petrol': 1900
}
print("my_expense: ", returnSum(my_expense))

my_expense:  5599

In [25]:
def returnSum1(my_wife):
    sum = 0
    for i in my_wife.values():
        sum = sum + i
 
    return sum

my_wife = {
    'mobile recharge': 799,
    'dth recharge': 999,
    'clothes': 2310,
    'makeup': 3670,
    'shoes': 999
}

print("my_wife: ", returnSum1(my_wife))

my_wife:  8777